<div class="card">
  <div class="card-header">
    <h4>Đọc Báo</h4>
  </div>
  <div class="card-body">
    <h4 class="card-title">{{this.ctbao.tieude}}</h4>
    <p class="card-text">{{this.ctbao.tenchuyenmuc}}</p>
    <img src="/public/imgs/bao/{{this.ctbao.idbao}}/anhto.jpg" alt="{{this.ctbao.tieude}}" title="{{this.ctbao.tieude}}" class="card-img-top">
    <p class="card-text">{{{this.ctbao.noidungchinh}}}</p>
    <p class="card-text float-right">{{this.ctbao.ngaydang}}</p>      
                        
  </div>
  <div class="card-footer text-muted">
    <p>Nhóm Sinh Viên KHTN</p>
  </div>
</div>